body {
    font-family: 'PT Serif', serif;
    font-size: 14pt;
}

.container {
    max-width: 800px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.code {
    margin: 2px;
    padding: 4px;
    background-color: #ddd;
}

img {
    margin: 0 auto;
    max-width: 200px;
}

p {
    text-align: justify;
    text-indent: 40px;
}

.menu {
    margin: 20px;
}

.menu-item {
    padding: 4px;
}

.menu-item span {
    margin: 8px;
}

button {
    margin: 2px;
}

.img-div {
    text-align: center;
    margin: 10px;
}

.header-buttons {
    text-align: right;
    margin: 10px 0px;
}

.contacts {
    text-align: center;
}

.contact a {
    display: block;
}

.contact {
    display: inline-block;
    margin: 8px;
}

.contact p {
    text-indent: 0px;
    text-align: center;
}

