body {
    font-family: 'PT Serif', serif;
    font-size: 14pt;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.code {
    margin: 2px;
    padding: 4px;
    background-color: #ddd;
}

img {
    margin: 0 auto;
    max-width: 200px;
}

p {
    text-align: justify;
    text-indent: 40px;
}

.menu {
    margin: 20px;
}

.menu-item {
    padding: 4px;
}

.menu-item span {
    margin: 8px;
}

button {
    margin: 2px;
}

.img-div {
    text-align: center;
    margin: 10px;
}

.header-buttons {
    text-align: right;
    margin: 10px 0px;
}

.contacts {
    text-align: center;
}

.contact a {
    display: block;
}

.contact {
    display: inline-block;
    margin: 8px;
}

.contact p {
    text-indent: 0px;
    text-align: center;
    text-decoration: underline;
}

.top-container {
    padding-top: 51px;
}

.main-page-container {
  max-width: 800px;
  margin-top: 20px;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

.sidebar-menu {
  margin-top: 20px;
}

.sidebar-menu-title {
  padding-left: 25px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active{
    text-decoration: none;
}

.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

a.navbar-brand {
    width: 250px;
    text-align: center;
}

a.hover {
    color: #58ade3;
}

.sk-chasing-dots {
  margin: 80px auto;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
          animation: sk-chasingDotsRotate 2s infinite linear; }
  .sk-chasing-dots .sk-child {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
            animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
  .sk-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

a {
  color: black;
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-none:hover {
  text-decoration: none;
}

.language {
  font-size: small;
}

.cursor {
    cursor: pointer;
}

.pagination>li>a {
     color: #bbb;
     background-color: #333;
     border-color: white;
     cursor: pointer;
 }

.pagination>li>a:hover {
    color: white;
    background-color: #333;
    border-color: white;
    cursor: pointer;
}

.pagination>.active>a {
    color: #333;
    background-color: #bbb;
    border-color: white;
    cursor: default;
}

.pagination>.active>a:hover {
    color: #333;
    background-color: #bbb;
    border-color: white;
    cursor: default;
}
